<div class="max-w-4xl mx-auto">
  <section class="py-16">
    <h1 class="text-4xl font-bold mb-8 text-gray-800">About Me</h1>
    
    <div class="prose prose-lg mx-auto">
      <div class="flex flex-col md:flex-row gap-8 items-start mb-8">
        <div class="flex-1">
          <p class="text-gray-700 text-lg leading-relaxed">
            Hi, I'm Olivia — I usually go by <em>oliiiiiiiii</em> or <em>Olí</em> online. Welcome to my little corner of the web! This is where I share my thoughts, experiences, and things I discover along the way.
          </p>
          <p class="text-gray-700 text-lg leading-relaxed">
            I graduated from Yan-Ping High School and am currently studying Computer Science at NTU. This school and major had been my dream since junior high, and even though it can be challenging at times, I still love what I'm learning.
          </p>
          <p class="text-gray-700 text-lg leading-relaxed">
            Outside of school, I enjoy traveling, meeting new people, and trying out new restaurants and cafés. I also love singing and playing chess — even if I’m not great at either! I've been learning Spanish for a year now and plan to keep going.
          </p>
          <p class="text-gray-700 text-lg leading-relaxed">
            I started this blog to document my life — and, well, a lot of people in my department have beautiful blogs, so I figured... why not have one too?
          </p>
        </div>
      </div>

      <h2 class="text-2xl font-semibold mb-4 text-gray-800">What I Do</h2>
      <p class="text-gray-700 leading-relaxed mb-6">
        This blog serves as my digital journal where I document my journey, share insights. You'll find posts about what I'm learning and working on, 
        my life, and whatever else captures my interest.
      </p>
      
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">Contact</h2>
      <p class="text-gray-700 leading-relaxed mb-4">Feel free to reach out to me via:</p>
      <div class="flex items-center space-x-2">
        <i class="fa-brands fa-instagram text-2xl"></i><p>Instagram : </p><a href="https://www.instagram.com/_y.chen_0108/" class="text-blue-600 hover:underline" target="_blank">_y.chen_0108</a>
      </div>
      <div class="flex items-center space-x-2">
        <i class="fa-brands fa-github text-2xl"></i><p>GitHub  : </p><a href="https://github.com/oliiiiiiiiii" class="text-blue-600 hover:underline" target="_blank">oliiiiiiiiii</a>
      </div>
      <div class="flex items-center space-x-2">
        <i class="fa-brands fa-discord text-2xl"></i><p>Discord : </p><a href="https://discord.com/users/801441766330859570" class="text-blue-600 hover:underline" target="_blank">Olí</a>
      </div>
      <div class="flex items-center space-x-2">
        <i class="fa-solid fa-envelope text-2xl"></i><p>Email : </p><a href="mailto:olivia950108@gmail.com" class="text-blue-600 hover:underline">olivia950108@gmail.com</a>
      </div>
  </section>
</div>