.aside-custom-bg {
  background-color: rgba(147, 121, 113, 1);
}

.main-custom-bg {
  background-color: rgba(147, 121, 113, 0.6);
}

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}